*{
    text-align: center;
    font-family: 'Tahoma', sans-serif;
}

div{
    background-color: #D5D5D5;
    border: 1px solid #D5D5D5;
    padding: 30px;
}

span{
    font-weight: bold;
}

a{
    background-color: #49B970;
    color: #F5F5F5;
    font-size: 14px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 30px;
}

h1{
    font-size: 32px;
    color: #000000;
    margin-top: 0;
}

h2{
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

p{
    font-size: 16px;
    font-weight: normal;
    color:#000000;
}

h3{
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

img{
    width: 190px;
}

span, p, div, h1, h2, h3, a{
    text-align: center;
}